In [1]:
print("hello world ",)

hello world

In [2]:
type(1)

int

In [3]:
print(15.8)
print(type(15.8))

15.8
<class 'float'>

In [4]:
0.2 ==.2

True

In [5]:
5e2 #e itu bilangan natural

500.0

String

Dalam string kita perlu menggunakan "" atau ''

In [6]:
print("hellow rodl")

hellow rodl

In [11]:
x5 = "anjay"
x5
a = 15
b =15

In [8]:
namaMurid = "john doe"
nama_murid = "john Doe"

In [12]:
print(15+15)
print(a+b)

30
30

In [17]:
print(int(50/5))
print(50//5)
print("hello"<"tv")

10
10
True

In [18]:
True != False

True

In [19]:
a = ["apel","pisang"]
b = ["mobil","motor"]

print(a)

['apel', 'pisang']

In [8]:
for x in range (1500,2700):
    if x%7==0 or x%5==0:
        print(x)

1500
1505
1510
1512
1515
1519
1520
1525
1526
1530
1533
1535
1540
1545
1547
1550
1554
1555
1560
1561
1565
1568
1570
1575
1580
1582
1585
1589
1590
1595
1596
1600
1603
1605
1610
1615
1617
1620
1624
1625
1630
1631
1635
1638
1640
1645
1650
1652
1655
1659
1660
1665
1666
1670
1673
1675
1680
1685
1687
1690
1694
1695
1700
1701
1705
1708
1710
1715
1720
1722
1725
1729
1730
1735
1736
1740
1743
1745
1750
1755
1757
1760
1764
1765
1770
1771
1775
1778
1780
1785
1790
1792
1795
1799
1800
1805
1806
1810
1813
1815
1820
1825
1827
1830
1834
1835
1840
1841
1845
1848
1850
1855
1860
1862
1865
1869
1870
1875
1876
1880
1883
1885
1890
1895
1897
1900
1904
1905
1910
1911
1915
1918
1920
1925
1930
1932
1935
1939
1940
1945
1946
1950
1953
1955
1960
1965
1967
1970
1974
1975
1980
1981
1985
1988
1990
1995
2000
2002
2005
2009
2010
2015
2016
2020
2023
2025
2030
2035
2037
2040
2044
2045
2050
2051
2055
2058
2060
2065
2070
2072
2075
2079
2080
2085
2086
2090
2093
2095
2100
2105
2107
2110
2114
2115
2120
2121
2125
2128
2130
2135
2140
2142
2145
2149
2150
2155
2156
2160
2163
2165
2170
2175
2177
2180
2184
2185
2190
2191
2195
2198
2200
2205
2210
2212
2215
2219
2220
2225
2226
2230
2233
2235
2240
2245
2247
2250
2254
2255
2260
2261
2265
2268
2270
2275
2280
2282
2285
2289
2290
2295
2296
2300
2303
2305
2310
2315
2317
2320
2324
2325
2330
2331
2335
2338
2340
2345
2350
2352
2355
2359
2360
2365
2366
2370
2373
2375
2380
2385
2387
2390
2394
2395
2400
2401
2405
2408
2410
2415
2420
2422
2425
2429
2430
2435
2436
2440
2443
2445
2450
2455
2457
2460
2464
2465
2470
2471
2475
2478
2480
2485
2490
2492
2495
2499
2500
2505
2506
2510
2513
2515
2520
2525
2527
2530
2534
2535
2540
2541
2545
2548
2550
2555
2560
2562
2565
2569
2570
2575
2576
2580
2583
2585
2590
2595
2597
2600
2604
2605
2610
2611
2615
2618
2620
2625
2630
2632
2635
2639
2640
2645
2646
2650
2653
2655
2660
2665
2667
2670
2674
2675
2680
2681
2685
2688
2690
2695

In [4]:
1505/7

215.0

In [1]:
from modules import mod

ModuleNotFoundError: No module named 'modules'

In [ ]:
mod.s

In [3]:
def fact(n):
    if n == 1:
        print(1)
    else:
        fact(n-1)